* {
margin: 0;
padding: 0;
}


body {
    font-family: 'Lato', sans-serif;
}
.container {
max-width: 1140px;
margin: 0 auto;

}
.menu-header {
    background-color: #222222;
    

}   

.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
    

}

.menu-left li:first-child{
    margin-right: 41px;
}

.menu-right li{
    margin-right: 33px;

}
.menu-left, .menu-right {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo{
    min-height: 764px;
    background-color: #F1E4E6;
    margin-bottom: 65px;
    
    
    
}

.promo-cont {
    background-image: url(./img/preview.png);
    background-repeat: no-repeat;
    background-position: -200px center;
    min-height: 764px;
    display: flex;
    flex-direction: column;

}

.title-promo {
    margin-top: 290px;
    margin-left: 630px;
    border-left: 12px solid #F16D7F;
    height: 92px;
    
}

.title-first  {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    margin-left: 16px;
    
}

.promo-text {
    font-style: normal;
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    margin-left: 16px;
}

.fasion {
    color: #F16D7F;;
}

.catalog-people {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    }

.catalog-p  {
    position: relative;
    
    }
.catalog-a {
    text-decoration: none;
}


.catalog-text {
     position: absolute;
     left: 105px;
     top: 105px;
    }

.c-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.c-height{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}

.ac-text {
    position: absolute;
    top: 65px;
    left: 490px;
}

.catalog {
    margin-bottom: 96px;
}

.feature-h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-align: center;
    padding-bottom: 6px;
}

.feature-p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    text-align: center;
    padding-bottom: 48px;
    
}

.feature-models-1, .feature-models-2  {
    display: flex;
    justify-content: space-between;  
    
    
}
.feature-items:hover .example-img {
    filter: brightness(30%);
}

.feature-items{
    position: relative;
}



.example{
    text-decoration: none;
    display: block;
    
}

.example-add{
    display: none;
    position: absolute;
    text-decoration: none;
    top: 188px;
    left: 108px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    text-align: center;
    padding-bottom: 12px;
    padding-top: 13px;
    padding-right: 16px;
    align-items: center;
    
}

.feature-items:hover .example-add{
    display: flex;
}

.add-image {
    padding-left: 13px;
    padding-right: 11px;
}

.feature-h {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    width: 360px;
}

.feature-text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding-top: 12px;
    width: 315px;
    
}

.feature-price{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    padding-top: 18px;
    
    
}
.feature-disc {
    background-color: #F8F8F8;
    padding-top: 24px;
    margin-top: -5px;
    padding-left: 16px;
    padding-bottom: 20px;
    max-width: 344px;
} 

.feature-models-2{
    margin-top: 30px;
    margin-bottom: 48px;
    
}

.buttom-feature {
    margin-bottom: 95px;
    display: flex;
    justify-content: center;
    
}

.fbuttom-text {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    border: 1px solid #F26376;
    padding: 14px 28px;   
}

.fbuttom-text:hover {
    background: #F16D7F;
    border: 1px solid #FF6A6A;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.plus-class {
    background: #222224;
}

.cont-plus {
    display: flex;
    justify-content: space-around;
    padding-top: 104px;
    padding-bottom: 104px;
}

.plus {
    display: flex;
    flex-direction: column;
    align-self: baseline;
}



.div-img{
    align-self: center;
    margin-bottom: 19px;
    
}



.plus-h {
    font-style: normal;
    font-weight: normal;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    text-align: center;
    margin-bottom: 16px;
}


.plus-text {
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
    max-width: 360px;
}

.contacts {
    background-image: url(./img/photo\ subscribe.png);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 448px;
    background-size: cover;
}

.subscribes {
    display: flex;
    justify-content: space-between;
    padding-top: 87px;
}

.sub-sub {
    display: flex;
    flex-direction: column;
    
    
}

.people-sub {
    width: 400px;
}

.img-sub {
    align-self: center;
    margin-bottom: 50px;
    
}

.text-subscribes {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #222224;
}


.sub-forms {
    display: flex;
    flex-direction: column;
    margin-top: 63px;
}

.sub-h {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
    text-align: center;
}

.sub-text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #222224;
    text-align: center;
    margin-bottom: 32px;
}

.forms-text {
    background: #E1E1E1;
    border-radius: 20px  0 0 20px;
    padding-left: 22px;
    padding-top: 17px;
    padding-bottom: 17px;
    border: none;
    font-size: 14px;
    line-height: 17px;
    padding-right: 70px;
}

.send {
    background: #F16D7F;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    color: #FFFFFF;
    border: none;
    padding-right: 22px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 20px;
    margin-left: -5px;
    border-radius: 0 20px  20px 0 ;

}

.main-footer {
    background: #222224;
}

.footer{
    display: flex;
    justify-content: space-between;
    
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
}

.text-potect {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    
    
}

.social-ul {
    list-style-type: none;
    display: flex;
    
}

.social-li {
    background: #FFFFFF;
    margin-left: 7px;
    padding: 12px;
}

.social-li:hover {
    background: #F16D7F;
    
}

.social-li:hover .sosial-img{
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(146deg) brightness(106%) contrast(101%);
}

.menu-nav {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 24px;
}

.menu-nav-h {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    margin-bottom: 20px;
    
    
}

.menu-nav-p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    margin-bottom: 11px;
    margin-left: 21px;
}

.menu-nav-link:hover {
    color: black;
    border-bottom: 1px solid black;
}

.menu-nav-p:first-child {
    margin-top: 12px;
}

.menu {
    list-style-type: none;
    padding-top: 57px;
    padding-left: 34px;
}

.menu-nav-a {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    margin-bottom: 20px;
}

.menu-nav-a:hover{
    color: #F16D7F;
    font-weight: 600;
    border-bottom: 1px solid #F16D7F;
}


.menu-nav-nav {
    list-style-type: none;
    
}

.menu-nav-link {
    text-decoration: none;
    color: #6F6E6E;
    
}

.navigation {
    background: #FFFFFF;
    width: 232px;
    height: 788px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.15);
    position: absolute;
    top: 27px;
    display: none;
    
}

.menu-box {
    position: relative;
     z-index: 1000;
}

.menu-box:hover .navigation {
    display: flex;
} 



.close {
position: absolute;
right: 32px;
top: 32px;
width: 32px;
height: 32px;
opacity: 0.3;
}
.close:hover {
opacity: 1;
}
.close:before, .close:after {
position: absolute;
left: 15px;
content: ' ';
height: 20px;
width: 2px;
background-color: #333;
}

.close:before {
transform: rotate(45deg);
}
.close:after {
transform: rotate(-45deg);
}

.catalog-men {
    display: flex;
    flex-wrap: wrap;
}

.men-example {
    margin-right: 30px;
    margin-bottom: 30px;
}

.men-example:nth-child(3n+3){
    margin-right: 0px;
}

.arrials {
    background-color: #F8F3F4;
    min-width: 148px;
}

.arrials-cont {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    margin-top: 0px;
    padding-bottom: 60px;

}

.arrials-h {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.arrials-ul {
    list-style-type: none;
    display: flex;
}

.arrials-li {
    padding-right: 10px;
}

.arrials-a:last-of-type {
    padding-right: 0px;
    
}

.arrials-p {
    width: 1px;
    height: 11px;
    background-color: #636363;
    margin-right: 10px;
    transform: rotate(20deg);
    top: 30px;
    margin-top: 4px;
    z-index: 10;
    
        
}


.arrials-a {
    text-decoration: none;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    text-decoration: none;
}

.arrials-last{
    font-weight: 700;
    color: #F16D7F;
}

.menu-product {
    display: flex;
}

.filter-picture {
    display: flex;
}

.filter-p {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding-right: 11px;
}









